/**
 * RockPageBuilder Backend Styles
 * This file is loaded only in the PW Backend!
 */

// quick fix for showing inputfield outline
// color should not be hardcoded but will likely never change
@border-color: #eeeeee;
@color-trash: #ffe4e4;
@color-warning: #fff3e0;

// fix uikit tooltip issue
.uk-tooltip-inner {
  overflow-wrap: break-word;
}

// hide tabs for block editor modal
body.modal form.rpb-hidetabs {
  margin: 0;

  .WireTabs {
    display: none !important;
  }
}

.rpb-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

// add block button svg
.rpb-button {
  position: relative;
  transition: outline opacity 0.5s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f2f2f2;

  &.loading {
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
  }

  @keyframes pulsate {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.2;
    }

    100% {
      opacity: 1;
    }
  }

  .uk-badge {
    border-radius: 5px;
    padding: 0 15px;
    // background-color: #666;
  }

  transition: transform 0.3s ease;

  &:hover {
    // tooltip background color
    outline: 3px solid #666;
    // transform: scale(1.05);
    text-decoration: none;
  }

  img {
    height: 75px;
  }

  .fa {
    pointer-events: none;
    font-size: 25px;
    color: #666;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    transform: translateY(-12px);
  }
}

li.InputfieldRockPageBuilder .rpb-button {
  img {
    height: 75px;
  }
}

// rpb item
// this is styled outside of .InputfieldRockPageBuilder context because dragging
// items don't live inside the inputfield context!
li.rpb-item {
  transition: outline 0.3s ease-in-out;
  margin-top: 10px;

  &.InputfieldStateCollapsed > .InputfieldHeader:after {
    content: none !important;
  }

  > .InputfieldHeader {
    position: relative;
    padding: 2px 5px;
    cursor: pointer;
    transition: background-color 0.5s linear;

    // hide the pw inputfield's icon
    > .fa:first-of-type {
      display: none;
    }

    // move icon
    .fa-arrows {
      cursor: move;
      padding-left: 5px;
      padding-right: 5px;
      margin: 0;
    }

    // item action buttons
    .rpb-actions {
      background: var(--rock-input-bg);
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 2px 10px;

      > .rpb-action > i {
        padding-right: 10px;
      }

      a {
        text-decoration: none;
      }
    }
  }

  > .InputfieldContent {
    padding: 4px;
    padding-top: 0;
    transition: background-color 0.5s linear;

    > .notes {
      margin-top: 0;
      border-left: 0;
      padding-left: 0;
      padding-top: 3px;
      transition: background-color 0.5s linear;
    }
  }

  /**
   * Hide/Unhide item
   */
  border: 1px solid @border-color;
  &.InputfieldIsWarning {
    border: 1px solid orange;
  }
  &.rpb-hidden {
    outline: 2px dashed orange;
    > .InputfieldHeader {
      color: orange !important;
      background: @color-warning;
    }
    .rpb-action-hide {
      display: none;
    }
  }
  &:not(.rpb-hidden) {
    .rpb-action-unhide {
      display: none;
    }
  }

  // temporary items
  &.rpb-temp {
    outline: 2px dashed lightgray;
    opacity: 0.5;
  }

  // trashed item
  &.rpb-trash {
    outline: 2px solid red;

    > .InputfieldContent,
    > .InputfieldHeader {
      color: red !important;
      background: @color-trash;

      > p.notes {
        background-color: @color-trash;
      }
    }

    // dont show trash icon
    > .InputfieldHeader .rpb-action-trash {
      display: none;
    }
  }
  &:not(.rpb-trash) {
    // dont show restore icon
    > .InputfieldHeader .rpb-action-untrash {
      display: none;
    }
  }
}

// settingsfield
.rpb-settings {
  ul {
    padding-left: 0;
    &.InputfieldCheckboxesStacked {
      list-style-type: none;
    }
  }

  // radio buttons (eg in settings field)
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }

  table td {
    padding: 4px 10px;
  }
}

// add spacing after last rpb item
.rpb-items > ul:last-child {
  margin-bottom: 15px;
}

// content-only inputfields without header
.rpb-nolabel > .InputfieldContent {
  padding-top: 20px;
}

// inputfield with smaller padding
.rpb-pd5 > .InputfieldContent {
  padding: 5px;
  // fix image fields having only 1px top padding
  padding-top: 5px !important;
}

// buttons + actions
.rpb-item {
  .rpb-actions {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover .rpb-actions {
    opacity: 1;
  }
}

.rpb-buttons-container {
  .rpb-buttons {
    button.rpb-button {
      margin: 0 5px 5px 0;
    }
  }
}

// create new block
.rpb-create {
  margin: 10px 0;

  input {
    width: 200px;
  }
}

// widget alert
.rpb-alert-widget {
  outline: 4px groove orange;
  z-index: 1;
}

.createBlockType {
  display: flex;
  justify-content: center;
}

.rpb-blockgroup {
  flex-basis: 100%;
}

.rpb-debug #Inputfield_rockpagebuilder_blocks.uk-hidden {
  display: block !important;
}
