.rpb-text {
  // style variations
  .uk-background-primary {
    .text {
      color: white;
    }
  }

  // limit width
  .maxw-s {
    max-width: 400px;
  }
  .maxw-m {
    max-width: 600px;
  }
  .maxw-l {
    max-width: 800px;
  }
}
