.rpb-gallery {
  // images
  .images {
    gap: 20px;
    img {
      outline: 2px solid white;
      transition: all 0.3s ease;
    }
    a:hover,
    a:focus {
      img {
        outline: 5px solid white;
      }
    }
  }
}
