/**
 * This file is loaded only when the currently viewed page is editable
 */

// fix vertical scrollbars issue on firefox (vtop/vbottom sliders)
@-moz-document url-prefix() {
  .alfred .vspace {
    width: 30px !important;

    input[type="range"] {
      width: 120px !important;
      margin-left: -45px !important;
      height: 120px !important;
      margin-top: 20px !important;
      transform: rotate(270deg) !important;
    }
  }

  .alfred .icons > a:hover .vspace {
    height: auto !important;
  }
}

// sortable handle for rockpagebuilder
.alfred:hover > .alfredelements .sortable-handle {
  display: block;
  // using the handle does not work on firefox!
  pointer-events: none;
}
.sortable-handle {
  display: none;
  cursor: move;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: white;
  color: black !important;
  border-radius: 0 0 5px 0;
  border-bottom: 4px solid #ececec;
  border-right: 4px solid #ececec;
  svg {
    width: 20px;
    margin: 5px;
  }
}

// change mouse cursor on sortable elements
body.is-sortable [sortable] > [data-rpbblock] {
  cursor: grab;
}
body.grabbing {
  user-select: none !important;
  -webkit-user-select: none !important;
  * {
    cursor: grabbing !important;
  }
}

// hide sortable handle if block is not sortable
:not([sortable]) > .alfred > .alfredelements > .sortable-handle {
  display: none;
}
// fade sortable handles if sortable is disabled
body.no-sortable .sortable-handle {
  opacity: 0.3 !important;
}
// fade sortable handles if sortable is disabled
body.no-sortable .sortable-handle span.on {
  display: none;
}
body.is-sortable .sortable-handle span.off {
  display: none;
}

// type indicator that shows the block type on block hover
.rpb-type {
  display: inline-block;
  margin-right: 5px;
  span {
    display: inline-block;
    background-color: #ececec;
    color: black;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 0.8rem;
  }
}

// styles for loading spinner when reloading the page after updates
#rpb-reloading {
  pointer-events: none;
  transition: opacity 0.5s ease;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: white;
  &.show {
    opacity: 0.8;
    pointer-events: all;
  }
  opacity: 0;

  // center loading spinner
  display: flex;
  align-items: center;
  justify-content: center;

  // loading spinner from https://cssloaders.github.io/
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #031926 #031926 transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #00bb86 #00bb86;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

// hover padding for nested blocks
.alfred-hover-padding:not(.sortable-chosen) {
  transition: all 0.3s ease;
  &:hover {
    padding: 40px;
  }
}
