/*! see comments in /assets/RockPageBuilder.less */

// RockPageBuilder Frontend Styles
// loaded both for guests and logged in users

// NOTE: This file will automatically be loaded on the frontend
// but loading can be disabled in RockPageBuilder module settings

// remove first top and last bottom margin
// so that we dont get too much padding in sections
.rpb-nomargin,
.rpb-nomargin .pw-edit-orig,
.rpb-nomargin .pw-edit-copy {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}
.rpb-nopadding,
.rpb-nopadding .pw-edit-orig,
.rpb-nopadding .pw-edit-copy {
  > *:first-child {
    padding-top: 0;
  }
  > *:last-child {
    padding-bottom: 0;
  }
}

// .rpb-nospace combines both nomargin and nopadding
.rpb-nospace,
.rpb-nospace .pw-edit-orig,
.rpb-nospace .pw-edit-copy {
  > *:first-child:not(.rpb-first-block) {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  > *:last-child:not(.rpb-first-block) {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}
.rpb-nospace-last,
.rpb-nospace-last .pw-edit-orig,
.rpb-nospace-last .pw-edit-copy {
  > *:last-child:not(.rpb-first-block) {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

.rpb-nospace-first,
.rpb-nospace-first .pw-edit-orig,
.rpb-nospace-first .pw-edit-copy {
  > *:first-child:not(.rpb-first-block) {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

// wysiwyg classes
.align_center {
  text-align: center;
}
.align_right {
  text-align: right;
}

// balanced headlines
.balance {
  text-wrap: balance;
}

// block classes for multicolor sections
html {
  --block-space: rfGrow(50px, 100px);
}
.rpb-block {
  padding-top: ~"calc(var(--block-space)/2)";
  padding-bottom: ~"calc(var(--block-space)/2)";
  &.rpb-block-top {
    padding-top: var(--block-space);
  }
  &.rpb-block-bottom {
    padding-bottom: var(--block-space);
  }
}

// fix tinymce z-index issue on frontend editing
.tox-tinymce-inline {
  z-index: 90;
}
