html {
  --rockicons-primary: var(--rock-primary, #999);
  --rockicon-color: #5a5a5a;
}

.rockicons {
  // icon style
  span.icon {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 2px;

    &.selected {
      border: 5px solid var(--rockicons-primary);
      border-radius: 5px;
      margin: 0;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }

  // icon color
  span.icon {
    // tabler icons
    color: var(--rockicon-color);

    // fontawesome icons
    &.fa-brands,
    &.fa-regular,
    &.fa-solid {
      path {
        fill: var(--rockicon-color);
      }
    }
  }

  // icons container
  .icons {
    // fade effect
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 20px;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 90%
      );
      width: 100%;
    }

    // scrollable icons
    > div {
      max-height: 310px;
      overflow: auto;
      padding-bottom: 20px;
    }
  }
}
