html {
  --rockicons-primary: var(--rock-primary, #999999);
  --rockicon-color: #5a5a5a;
}
.rockicons span.icon {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 2px;
}
.rockicons span.icon.selected {
  border: 5px solid var(--rockicons-primary);
  border-radius: 5px;
  margin: 0;
}
.rockicons span.icon svg {
  width: 24px;
  height: 24px;
}
.rockicons span.icon {
  color: var(--rockicon-color);
}
.rockicons span.icon.fa-brands path,
.rockicons span.icon.fa-regular path,
.rockicons span.icon.fa-solid path {
  fill: var(--rockicon-color);
}
.rockicons .icons {
  position: relative;
}
.rockicons .icons::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff 90%);
  width: 100%;
}
.rockicons .icons > div {
  max-height: 310px;
  overflow: auto;
  padding-bottom: 20px;
}
