.rpb-accordion {
  // items
  .items {
    width: 100%;
    max-width: 700px;
    li {
      background-color: @global-muted-background;
      .uk-padding;
    }
  }

  // muted style
  .uk-background-primary,
  .uk-background-secondary {
    h2,
    h3 {
      color: white !important;
    }
  }

  // make items white
  .uk-background-primary,
  .uk-background-secondary,
  .uk-background-muted {
    li {
      background-color: white;
    }
  }
}
